<h1>Sign Up for ChannelShowDemo</h1>
<p>or enter in your details below:</p>

<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @user do |f| %>
  <strong><%= f.label :email %></strong> <%= f.text_field :email, class:"form-control" %><br>
  <strong><%= f.label :username %></strong> <%= f.text_field :username, class:"form-control" %><br>
  <strong><%= f.label :password %></strong> <%= f.password_field :password, class:"form-control" %><br>
  <strong><%= f.label :password_confirmation %></strong> <%= f.password_field :password_confirmation, class:"form-control" %><br>
  <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>

<p>Already have an Account? <%= link_to "Log In", login_path %></p>
