<!DOCTYPE html>
<html>
   <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
  <body >
    <h1>Hi <%= @user.email %>,</h1><br>
    <p>Title:   <%= @show.title%></p>
    <p>Description:   <%= @show.description%></p>
    <p>Time:   <%= @show.time%></p>
    <p>Channel:   <%=  @show.channel.name %></p>
  </body>
</html>