<% content_for :header do %>
  <h1><%= link_to "Browse Shows", shows_path %></h1>
<% end %>

<% content_for :vertical_nav do %>
<ul class="nav flex-column">
  <li class="nav-item mb-3">
    <%= button_to "Add New Show", new_show_path, :method => "get", class: "btn btn-info btn-block" %>
  </li>
</ul>
<% end %>

<% content_for :content do %>
  <%= render partial: "shows", locals: {shows: @shows} %>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag :query, "Search by Title/Channel Name:" %>
    <%= text_field_tag :query, "", class:"form-control" %>
    <%= submit_tag "Search", class: "btn btn-sm btn-secondary" %>
  <% end %>
  <br>
  <p>Browse By:
  <div class="btn-group" role="group">
    <%= button_to "Channel", channels_path, :method => "get", class: "btn btn-outline-secondary" %>
  </div>
  </p>
<% end %>
