<!DOCTYPE html>
<html>
  <head>
    <title>ChannelShowDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/alerts" %>
    <div class="m-3">
      <%= yield :header %>
      <div class="row mt-4">
        <div class="col-2">
          <%= yield :vertical_nav %>
        </div>
        <div class="col-8">
          <%= yield :content %>
        </div>
        <div class="col-2">
          <%= yield :sidebar %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
