<!DOCTYPE html>
<html>
  <head>
    <title>ChannelShowDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="/images/play-icon.png" width="30" height="30" class="d-inline-block alignt-top">
      <%= link_to "ChannelShowDemo", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="m-3">
      <%= render partial: "shared/alerts" %>

      <%= yield %>
    </div>
  </body>
</html>
